Repository sjandrs/legendary-spoon: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-tests, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
        exclude: ^venv/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.13
        files: ^(main|web)/.*\.py$
        exclude: ^main/migrations/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: ^(main|web)/.*\.py$
        exclude: ^main/migrations/

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--extend-ignore=E203,W503"]
        files: ^(main|web)/.*\.py$
        exclude: ^main/migrations/

# ESLint is handled in CI/CD pipeline with proper working directory

  - repo: local
    hooks:
      - id: block-forbidden-files
        name: Block committing forbidden files (db.sqlite3, coverage, pyc, backup)
        entry: python tools/block_forbidden_files.py
        language: system
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: django-tests
        name: Run Django Tests
        # Use plain 'python' so it resolves inside active venv on all platforms
        entry: bash -c "python manage.py test"
        language: system
        pass_filenames: false
        files: ^(main|web)/.*\.py$
        stages: [pre-push]

  - repo: local
    hooks:
      - id: frontend-tests
        name: Run Frontend Tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        stages: [pre-push]

# Enforce current virtualenv Python version to avoid fallback to missing Store install
default_language_version:
  python: python3.13

chore(report): normalize EOF in lint baseline diff report
  docs/reports/lint-baseline-diff.md
  tools/lint_baseline_diff.ps1
Due: none

chore(frontend): add lint automation scripts to package.json
  frontend/package.json
  spec/spec-design-master.md
Due: none

chore(pre-commit): replace disabled django hook with noop placeholder
  .pre-commit-config.yaml
Due: none

commiting adjustents to CI/CD workflows and stabilize tests
  .github/chatmodes/principal-software-engineer.chatmode.md
  .github/workflows/ci-cd.yml
  tools/lint_baseline_diff.ps1
Due: none

chore(devcontainer, dependabot): add Dev Container and Dependabot configuration
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: none

more deev container changes
  .devcontainer/devcontainer.json
Due: none

chore(spec): add lightweight spec validator and baseline artifacts
  spec/design.md
  spec/requirements.md
  spec/tasks.md
  tools/spec_validate.py
Due: none

ci(spec): add GitHub Actions workflow to validate specs on push and PR
  .github/workflows/spec-validate.yml
Due: none

docs(ci): add Spec Validation status badge to README
  README.md
Due: none

fix(spec): make spec validator Windows-console safe (ASCII output) and dedupe artifact listing
  .pre-commit-config.yaml
  tools/spec_validate.py
Due: none

style(black): apply Black formatting to management commands
  main/management/commands/process_recurrence_rules.py
  main/management/commands/send_appointment_reminders.py
  main/signals.py
  main/templates/emails/customer_reminder.html
  main/templates/emails/technician_assignment.html
  main/templates/emails/technician_on_way.html
  tools/spec_validate.py
Due: django-tests

chore(pre-push): run Django backend tests alongside frontend tests
  .pre-commit-config.yaml
Due: none

docs(contributing): add Spec Validation section, usage and troubleshooting
  CONTRIBUTING.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs(spec): add README_spec; ci: add Pages and Release workflows; finalize formatting fixes
  .devcontainer/devcontainer.json
  .github/chatmodes/principal-software-engineer.chatmode.md
  .github/workflows/spec-compile.yml
  .github/workflows/spec-pages.yml
  .github/workflows/spec-release.yml
  .gitignore
  README.md
  docs/README_spec.md
  main/management/commands/process_recurrence_rules.py
  main/management/commands/send_appointment_reminders.py
  main/signals.py
  main/tests_commands.py
  tools/spec_compile.py
Due: django-tests

ci(pages): richer landing page renders README and COMPILED_SPEC.md via client-side Markdown
  .github/workflows/spec-pages.yml
Due: none

docs(spec): compile + Pages + Release asset (#9)
  .devcontainer/devcontainer.json
  .github/chatmodes/principal-software-engineer.chatmode.md
  .github/workflows/spec-compile.yml
  .github/workflows/spec-pages.yml
  .github/workflows/spec-release.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/README_spec.md
  main/management/commands/process_recurrence_rules.py
  main/management/commands/send_appointment_reminders.py
  main/signals.py
  main/tests_commands.py
  tools/spec_compile.py
Due: django-tests

docs(README): add Docs and CI workflow badges (Spec Pages, Compile, Release, Validation) with link to published Pages site
  README.md
Due: none

docs(spec): add compiled specification document
  spec/COMPILED_SPEC.md
Due: none

docs(spec): 60% canonical lineup plan with phased deliverables, acceptance criteria, and quality gates
  spec/spec-lineup-cannon-features-60.md
Due: none

feat: Add CoverageShape model, API, and frontend integration for technician coverage shapes
  frontend/src/__tests__/components/CoverageAreaMap.test.jsx
  frontend/src/components/CoverageAreaMap.jsx
  main/admin.py
  main/api_urls.py
  main/api_views.py
  main/models.py
  main/serializers.py
Due: django-tests, frontend-tests

feat: Add digital signature PDF download endpoint and frontend integration
  frontend/src/api.js
  frontend/src/components/DigitalSignaturePad.jsx
  main/api_views.py
Due: django-tests, frontend-tests

feat: Add advanced technician list filtering and certification support
  frontend/src/components/TechnicianList.jsx
  main/api_views.py
Due: django-tests, frontend-tests

fix: Minor bugfixes and improvements in API and tests
  frontend/src/api.js
Due: frontend-tests

feat: Add CoverageShape API methods to frontend api.js
  frontend/src/api.js
Due: frontend-tests

feat: Add new dependencies for clustering, accessibility, and code formatting
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: Archive implementation prompt after completion of Phase 7
  .github/prompts/_archive/implement-implement-unimplemented-features-phase7.prompt.md
Due: none

docs: Add implementation tracking, plans, details, and research for Phase 7 unimplemented features
  .copilot-tracking/changes/20251015-implement-unimplemented-features-phase7-changes.md
  .copilot-tracking/details/20251015-implement-unimplemented-features-phase7-details.md
  .copilot-tracking/plans/20251015-implement-unimplemented-features-phase7-plan.instructions.md
  .copilot-tracking/prompts/implement-implement-unimplemented-features-phase7.prompt.md
  .copilot-tracking/research/20251015-unimplemented-features-implementation-research.md
Due: none

feat(backend): Add CoverageShape model, API, serializer, admin, and migrations
  main/migrations/0045_alter_budgetv2_id_alter_costcenter_id_and_more.py
  main/tests/test_coverage_shapes_api.py
Due: django-tests

feat(frontend): Add frontend clustering utility, tests, and CoverageAreaMap clustering tests
  frontend/src/__tests__/components/CoverageAreaMap.clustering.test.jsx
  frontend/src/__tests__/utils/clustering.test.js
  frontend/src/utils/clustering.js
Due: frontend-tests

test(backend): Add advanced TechnicianViewSet filters and test coverage
  main/tests/test_technician_filters.py
Due: django-tests

test(backend): Add DigitalSignature PDF export endpoint and tests
  main/tests/test_digital_signature_pdf.py
Due: django-tests
